<p>
    state: {{ district.state }}<br>
    district: {{ district.district }}<br>
    voter_reg_url: {{ district.voter_reg_url.url }}<br>
    next_primary_date: {{ district.next_primary_date }}<br>
    next_early_vote_date_begin: {{ district.next_early_vote_date_begin }}<br>
    next_early_vote_date_end: {{ district.next_early_vote_date_end }}<br>
    next_election_date: {{ district.next_election_date }}<br>
</p>

<table>
  <tr valign="top">
    <td width="35%">

        {% if incumbent %}
            {%for i in incumbent %}
                <p>
                incumbent: {{ i.position }} {{ i.name }} ({{ i.party }})<br>
                term_end: {{ i.term_end }}<br>
                {% if i.party == 'R' %}
                    reasons_to_vote_out: {{ i.reasons_to_vote_out }}<br>
                {% else %}
                    reasons_to_keep: {{ i.reasons_to_keep }}<br>
                    url: {{ i.url }}<br>
                    twitter_handle: {{ i.twitter_handle }}<br>
                    tweet_text: {{ i.tweet_text }}<br>
                    facebook_url: {{ i.facebook_url }}<br>
                    facebook_text: {{ i.facebook_text }}<br>
                    bio: {{ i.bio }}<br>
                    comments: {{ i.comments }}<br>
                {% endif %}
                </p>
            {% endfor %}
        {% endif %}

    </td>
    <td width="65%">

      {% for c in candidates %}
        <p>
          candidate: {{ c.name }} ({{ c.party }})<br>
          url: {{ c.url }}<br>
          twitter_handle: {{ c.twitter_handle }}<br>
          tweet_text: {{ c.tweet_text }}<br>
          facebook_url: {{ c.facebook_url }}<br>
          facebook_text: {{ c.facebook_text }}<br>
          bio: {{ c.bio }}<br>
          comments: {{ c.comments }}<br>
        </p>
      {% endfor %}

    </td>
  </tr>
</table>
