<p>
    state: {{ district.state }}<br>
    district: {{ district.district }}<br>
    voter_reg_url: {{ district.voter_reg_url.url }}<br>
    next_primary_date: {{ district.next_primary_date }}<br>
    next_early_vote_date_begin: {{ district.next_early_vote_date_begin }}<br>
    next_early_vote_date_end: {{ district.next_early_vote_date_end }}<br>
    next_election_date: {{ district.next_election_date }}<br>
</p>

<table>
  <tr valign="top">
    <td width="35%">

      {% if incumbent %}
        incumbent: {{ incumbent.position }} {{ incumbent.name }} ({{ incumbent.party }})<br>
        {% if incumbent.party == 'R' %}
            reasons_to_vote_out: {{ incumbent.reasons_to_vote_out }}<br>
        {% else %}
            reasons_to_keep: {{ incumbent.reasons_to_keep }}<br>
            url: {{ incumbent.url }}<br>
            twitter_handle: {{ incumbent.twitter_handle }}<br>
            tweet_text: {{ incumbent.tweet_text }}<br>
            facebook_url: {{ incumbent.facebook_url }}<br>
            facebook_text: {{ incumbent.facebook_text }}<br>
            bio: {{ incumbent.bio }}<br>
            comments: {{ incumbent.comments }}<br>
        {% endif %}
      {% endif %}

    </td>
    <td width="65%">

      {% for c in candidates %}
        <p>
          candidate: {{ c.name }} ({{ c.party }})<br>
          url: {{ c.url }}<br>
          twitter_handle: {{ c.twitter_handle }}<br>
          tweet_text: {{ c.tweet_text }}<br>
          facebook_url: {{ c.facebook_url }}<br>
          facebook_text: {{ c.facebook_text }}<br>
          bio: {{ c.bio }}<br>
          comments: {{ c.comments }}<br>
        </p>
      {% endfor %}

    </td>
  </tr>
</table>
