<style>
  body {
    background-color: #ffffff;
  }

  {% for state in state_list %}
    #{{ state.abbrev }} { fill: {{ state.color }} !important }
  {% endfor %}

  #us-map {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
</style>

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg xmlns="http://www.w3.org/2000/svg" id="us-map">
<title>US States Map</title>
<g id="outlines">
    {% for state in state_list %}
        <a xlink:href="/state/{{ state.abbrev }}/"><path id="{{ state.abbrev }}" fill="#D3D3D3" d="{{ state.map_dimension }}"/></a>
    {% endfor %}
</g>
<path id="frames" fill="none" stroke="#A9A9A9" stroke-width="2" d="M215,493v55l36,45 M0,425h147l68,68h85l54,54v46"/>
</svg>

<!-- 
{% for state in state_list %}
  <p>
    State code: {{ state.abbrev }}<br>
    State label: {{ state.label }}<br>
    Map color: {{ state.color }}<br>
    Map dimensions: {{ state.map_dimension }}<br>
  </p>
{% endfor %}
-->
